body {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.title_bar {
    border: 1px solid grey;
    margin-bottom: 10px;
}

.title {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 50px;
    font-family: monospace;
    text-align: center;
}

.container img {
    display: flex;
    align-items: center;
}

.container footer {
    margin-top: 10px;
    border: 1px solid grey;
}

.time_line {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.time_line ul li {
    margin-top: 10px;
    font-family: fantasy;
}

.titulo2 {
    display: flex;
    align-items: center;
}

.titulodemerda {
    list-style-type: none;
}

.disclaimer h2 {
    border-top: 1px solid grey;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

figcaption {
    text-align: center;
    border-bottom: 1px solid grey;
}

.time_line ul {
    margin: 0px;
}
